export PURSECRAFT_DATA_KEY="ca7PfJueEgRJMF0Ef4bsDJST4uqofPGKc5H7EkgRKl8="
export PURSECRAFT_INDEX_KEY="QoLjUlNyUm/npvwmQW1gkDOvld3Kq8LDAcWwu0OIm5k="
export PURSECRAFT_SEARCH_KEY="j6KGQyuKoKlfcmoNZC3nOpTXu/BnuCmau1pI8uCwf5w="
